<ion-header [translucent]="true">
  <ion-nav color="primary">
    <ion-title>
      Tasks
    </ion-title>
    <ion-buttons end>
      <ion-button icon-left (click)="addItem()">
        Add Item
      </ion-button>
    </ion-buttons>
  </ion-nav>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let task of tasks">
      <ion-item [ngClass]="{taskDone: task.status == 'done'}">{{task.title}}</ion-item>
      <ion-item-options side="end" (ionSwipe)="removeTask(slidingItem, task)">
        <ion-item-option>
          <ion-button expandable (click)="markAsDone(slidingItem, task)" color="secondary">
            <ion-icon slot="icon-only" name="checkmark-oultine"></ion-icon>
          </ion-button>
        </ion-item-option>
        <ion-item-option >
          <ion-button expandable (click)="removeTask(slidingItem, task)" color="danger">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-button expand="full" (click)="abrirModal()">Abrir Modal</ion-button>
</ion-content>


